.jh-cart {
	color: var(--white);
	background-color: var(--cart-bg);
	padding: var(--spacing);
	display: flex;
	flex-direction: column;
	gap: var(--spacing);
	justify-content: flex-start;
}

.jh-cart-add-button {
	margin-left: var(--spacing);
	cursor: pointer;
	color: var(--white);
	transition: var(--transition-fast);
}

.jh-cart-add-button:hover {
	opacity: 0.85;
}


.jh-cart-toggle-button {
	width: 100%;
	line-height: 1.5;
	background: var(--white);
	border-radius: 6px;
	border: none;
	color: #374151;
	font-weight: 600;
	cursor: pointer;
	padding: 0.6rem 1rem;
	align-self: self-start;
	transition: var(--trnsition-fast);
}


ul li {
	margin-left: 3rem;
}

.cart__clear {
	color: #374151;
	font-weight: 600;
	padding: 0.6rem 1rem;
	border-radius: 6px;
	border: none;
	margin: 3rem 0; 
	width: 100%;
	cursor: pointer;
	background: var(--white);
	transition: all 0.25s ease;
}

.cart__clear:hover {
	background-color: #adf724;
	color: white;
}

.cart__clear:active {
	transform: scale(0.97);
}

.jh-cart-toggle-button:hover {
	background-color: #adf724;
	color: white;
}