
.footer {
	background-color: var(--footer-bg);
	color: white;
	list-style: none;
	padding: 4rem 1.5rem;
}

.footer-container {
	max-width: 1280px;
	margin: 0 auto;
}

.footer-grid {
	display: grid;
	gap: 2rem;
	margin-bottom: 3rem;
}

.footer-logo-text {
	font-size: 1.25rem;
	font-weight: 700;
}

.brand-description {
	font-size: 0.9rem;
	color: var(--footer-subtext);
	line-height: 1.6;
}
 
.footer-social {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	cursor: pointer;
}

.footer-social .social-icon {
	transform: translateY(0);
	transition: transform 0.3s ease;
}

.footer-social .social-icon:hover {
	transform: translateY(-0.3rem);	
	border-radius: 10px;
}

hr {
	border: none;
	height: 1px;
	background:var(--hr-background); 
	margin: 2rem 0;
}

.footer-newsletter {
	margin-top: 1rem;
}


.input-group {
	display: flex;
}


.footer-input {
	flex: 1;
	padding: 0.6rem;
	background-color: var(--input-background-color);
	border: 1px solid var(--input-border-color);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color: var(--white); 
	cursor: pointer;
	transition: border-color 0.3s ease;
}


input:focus {
	border-color: var(--input-focus);
	box-shadow: 0 0 4px rgba(173, 168, 168, 0.9);
	outline: none;
}

.footer-newsletter p {
	margin-bottom: 0.3rem;
}

.footer-bottom p {
	text-align: left;
} 

.social-container h3 {
	font-size: 1rem;
	margin-top: 0.8rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}


@media (min-width: 768px) {
	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-bottom p {
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}








