.jh-header {
    color: var(--text-primary);
    text-align: right;
    padding: 2rem;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 10;
}

h1 {
    text-shadow: 0.55rem 0.55rem #11af82;
}


.header-nav {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.cart-count {
    position: absolute;

    top: -9px;
    right: -8px;
}



.wishlist-count {
    position: absolute;

    top: -9px;
    right: -8px;
}

