.header {
    color: var(--text-primary);
    text-align: right;
    padding: 2rem;
    border-bottom: solid 3px black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 10;
}


.header-nav {
    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.logo-wrapper {
    position: relative;
    height: 45px;
    width: 45px;
    flex-shrink: 0;

}

.logo-image {
    object-fit: contain;
}


.cart-count {
    position: absolute;
    top: -9px;
    right: -8px;
}



.wishlist-count {
    position: absolute;

    top: -9px;
    right: -8px;
}

