/* .jh-plant-list {
    list-style-type: none;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
} */

.jh-shopping-list {
width: 100%;
}

.add-to-cart {
    margin-left: 0.7rem;
}

 .jh-plant-list {
    list-style-type: none;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200p;    /*keeps the grid centered and clean */          
}  



.jh-sales {
    position: absolute;
    right: 0px;
    top: 10px;
    font-weight: 500;
    color: white;
    padding: 0.3rem 0.3rem;
    background-color: #31b572;
    border-radius: 8px;
}


