

.shopping__page {
    width: 100%
}


.jh-shopping-list {
width: 95%;
padding: var(--space-5);
margin: 0 auto;

background-color: var(--color-white);
box-shadow: var(--shadow-sm);
}

/* keeps the grid centered and clean */

.jh-plant-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-5);

    list-style-type: none;
 }


.jh-sales {
    position: absolute;
    right: 0px;
    top: 10px;
    font-weight: 500;
    color: white;
    padding: 0.3rem 0.3rem;
    background-color: #31b572;
    border-radius: 8px;
}


