 
 
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: var(--space-2);

    border: none;
    border-radius: var(--radius-sm);

    font-size: var(--text-sm);
    font-weight: var(--weight-medium);

    cursor: pointer;
    transition: all 0.3s ease;
}

/*VARIANTS*/

.button-default {
    background: var(--color-black);
    color: var(--color-white);
}

.button-default:hover {
    background: var(--button-default-hover);
}

.button-outline {
    border: 1px solid var(--color-gray-300);
    background: var(--color-white);
    color: var(--text-primary);
}

.button-outline:hover {
    background: var(--button-outline);
}

.button-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.button-primary:hover {
    background: var(--color-secondary);
}

.button-secondary {
    background: var(--button-secondary);
}

.button-secondary:hover {
    background: var(--button-secondary-hover);
}

.button-destructive {
    background: var(--color-error);
    color: var(--color-white);
}

.button-destructive:hover {
    background: var(--color-error-hover);
}

.button-ghost {
    background: transparent;
}

.button-ghost:hover {
    background: var(--color-gray-100);
}

.button-link{
    background: transparent;
    color: var(--color-primary-link);
}

.button-link:hover {
    text-decoration: underline;
}

.button-success {
    background-color: var(--color-success);
    color: var(--color-white); 
}

.button-success:hover {
    background-color: var(--color-success-hover);
}

.button-warning {
    background-color: var(--color-warning-hover);
    color: var(--color-white);
}

.button-warning:hover {
    background-color: var(--color-warning);
}

.button-delete {
    background: transparent;
}

.button-delete:hover {
    background: var(--color-error-hover);
    color: var(--color-error);
}

.button-subscribe {
    background-color: var(--color-brand-primary);
    color: var(--color-white);
    padding-left: var(--space-6);
    padding-right: var(--space-6);
    border: none;
    font-size: var(--text-sm);
    font-weight: var(--weight-semibold);
    
    
    transition: all 0.2s ease;
    cursor: pointer;
 }


.button-subscribe:hover {
    background: var(--color-brand-secondary);
}


/*ROUNDED BUTTONS*/

.button-rounded-none {
    border-radius: 0;
}

.button-rounded-sm {
    border-radius: var(--radius-sm);
}

.button-rounded-md {
    border-radius: var(--radius-md);
}

.button-rounded-lg {
    border-radius: var(--radius-lg);
}

.button-rounded-xl {
    border-radius: var(--radius-xl);
}


.button-rounded-full {
    border-radius: var(--radius-full);
} 



.button-rounded-left {
    border-radius: 8px 0 0 8px;
}

.button-rounded-right {
    border-radius: 0 8px 8px 0;
}

/* BUTTON CART VARIANT*/
.button-cart {
    background-color: var(--color-brand-primary);
    color: var(--color-white);

    border: none;
    border-radius: var(--radius-full);
    
    transition: 
    background-color 0.2s ease,
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.button-cart:hover {
    background-color: var(--color-brand-secondary);
    color: var(--color-white);
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transform: scale(1.1);
}



/*Button Wishlist Variant*/

.button-wishlist {
    position: absolute;
    top: 9px;
    right: 3px;

    background-color: var(--bg-base);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                0 4px 6px -2px rgba(0,0,0,0.5);
    transition: all 0.2s ease;
    color: var(--text-tertiary);
    cursor: pointer;
}

.button-wishlist:hover {
    color: var(--color-favorite);
    transform: scale(1.10);

}


/*SIZES*/

.button-default-size {
    height: 36px;
    padding: 0.25rem 0.75rem;
}

.button-sm {
    height: 32px;
    padding: 0.25rem 0.75rem;
}

.button-md {
    height: 38px;
    padding: 1.75rem 1rem;
}
.button-lg {
    height: 40px;
    padding: 0.75rem 1.5rem;
}

.button-icon {
    width: 36px;
    height: 36px;
    padding: 0;
}

.button-xl {
    height: 60px;
    padding: 1rem 2rem;
    font-size: 1.25rem;
}

.button-cart-icon {
    width: 44px;
    height: 44px;
}

.button-wished {
    width: 2.3rem;
    height: 2.3rem;
}