.plant-card {
	position: relative;
	
	display: flex;

	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	border: 1px solid gray;

	cursor: pointer;

	background-color: var(--bg-base);
}


.plant-card-image-container {
	height: 200px;
	width: 100%;
	border-top-right-radius: var(--radius-md);
	border-top-left-radius: var(--radius-md);
	position: relative;
	overflow:hidden;
}

.plant-card-image {
	object-fit: cover;
	display: block;
  	transition: transform 0.3s ease-in-out;

}

.plant-card-image:hover {
	transform:scale(1.20);
	cursor: pointer;
}

.card-sales-badge {
    position: absolute;
    /* right: 0px; */
	left: 0px;
    top: 10px;
    font-weight: 500;
    color: white;
    padding: 0.3rem 0.3rem;
    background-color: #31b572;
    border-radius: 8px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-sales-badge:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.plantcard-subsection-container {
	margin: 0.2rem 0.3rem 0.3rem 0.3rem;
}


.plantcard-price-container {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.plant-name {
	color: var(--color-gray-800);
	font-weight: var(--weight-regular);
	font-size: var(--text-lg);
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 


.plant-price {
	color: var(--text-primary);
	font-size: var(--text-xl);
	font-weight: var(--weight-semibold);
}

.button-cart:active {
    transform: scale(0.95);
}


.button-section {
	margin-left: auto;
}