
.footer {
	background-color: var(--footer-bg);
	color: var(--color-white);
	list-style: none;
	padding: 4rem 1.5rem;
}

.footer-container {
	max-width: 1280px;
	margin: 0 auto;
}

.footer-grid {
	display: grid;
	gap: var(--space-8);
	margin-bottom: var(--space-12);
}

.footer-logo h2 {
	color: var(--color-white);
	font-size: 1.35rem;
}

.brand-description {
	font-size: 0.98rem;
	font-weight:var(--weight-medium);
	line-height: 1.6;
	color: var(--text-muted-primary);
}
 
.footer-social {
	display: flex;
	gap: var(--space-4);
	margin-top: var(--space-4);
	cursor: pointer;
}

.footer-social .social-icon {
	transform: translateY(0);
	transition: transform 0.3s ease;
}

.footer-social .social-icon:hover {
	transform: translateY(-0.3rem);	
	border-radius: 10px;
}

hr {
	border: none;
	height: 1px;
	background: var(--footer-divider); 
	margin: 2rem 0;
}

.footer-newsletter p {
	margin-top: var(--space-4);
	color: var(--text-muted-primary);
	font-weight: var(--weight-medium);
}


.input-group {
	display: flex;
}


.footer-input {
	flex: 1;
	padding: 0.3rem;
	background-color: var(--input-background);
	border: 1px solid var(--input-border);
	border-top-left-radius: var(--radius-md);
	border-bottom-left-radius: var(--radius-md);
	color: var(--color-white); 
	cursor: pointer;
	transition: border-color 0.3s ease;
}


input:focus {
	border-color: var(--input-focus);
	box-shadow: 0 0 4px rgba(173, 168, 168, 0.9);
	outline: none;
	padding: 0.48rem;
}

.footer-newsletter p {
	margin-bottom: 0.3rem;
}

.footer-bottom p {
	text-align: left;
	color: var(--text-muted-primary);
	font-weight: var(--weight-regular);
} 

.social-container h3 {
	font-size: var(--text-base);
	margin-top: var(--space-2);
	margin-bottom: var(--space-2);
	font-weight: var(--weight-semibold);
}


@media (min-width: 768px) {
	.footer-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.footer-bottom p {
		text-align: center;
	}
}

@media (min-width: 1024px) {
	.footer-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}








