

.footer-section h3 {
    font-size: 1rem;
    color: var(--color-white);
}

.footer-section a {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 0.9rem;
    font-weight: var(--weight-regular);
    color: var(--text-muted-primary);
    text-decoration: none;
    transition: var(--transition-normal);

}

.footer-section a:hover {
    color: var(--color-white);
    text-decoration: underline;
}

.footer-links li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.footer-links {
padding: 0;
margin: 0; 
}